.item-list{
  ul{
    overflow: hidden;
    li.view-list-item{
      margin:0 0 30px;
      overflow: hidden;
      .post-block{
        margin: 0;
      }
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
.padding-small{
  .item-list ul li.view-list-item{
    margin-bottom: 20px!important;
    &:last-child{
      margin-bottom: 0!important;
    }
  }
}

.more-link{
  text-align: center;
  margin-top: 35px;
  a{
    font-family: $font-second;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    border: 2px solid $theme-color;
    display: inline-block;
    padding: 5px 15px;
    @include border-radius(30px);
    @include transition(all 0.35s);
    &:hover{
      background: $theme-color;
      color: $white;
    }
  }
}

.views-view-grid{
  .views-row{
    width: auto;
    clear: none;
    float: none!important;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

.post-masonry-style > div.views-col{
  margin-bottom: 10px;
}

.post-style-grid{
  .views-col{
    margin-bottom: 10px;
  }
}

.portfolio-filter{
  margin-bottom: 30px;
  text-align: center;
  -ms-overflow-scrolling: touch;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow: auto; 
  ul.nav-tabs{
    display: inline-block;
    border-bottom: 1px solid $border-color!important;
    white-space: nowrap;
    > li{
      display: inline-block!important;
      white-space: nowrap; 
      float: none!important;
      > a{
        background: none;
      }
    }
  }
}

.brand-grid{
  .views-view-grid{
    .views-row{
      margin-bottom: 65px;
      .views-field-field-image{
        text-align: center;
        @media(max-width: $screen-xs-max){
          margin-bottom: 20px;
        }
      }
    }
  }
}

.banner-carousel-v2{
  .item{
    .views-field-field-image{
      text-align: center;
      background: $white;
      padding: 30px;
      @include box-shadow(0px 5px 10px 0px rgba(0, 0, 0, 0.02));
      img{
        max-height: 69px;
      }
    }
  }
}

.view-testimonial-v1{
  padding-top: 145px;
  position: relative;
  &:after{
    content: "";
    background: url('#{$base-theme-image-path}/testimonial-icon.png') no-repeat center center transparent;
    position: absolute;
    @include size(30px, 30px);
    top: 65px;
    left: 15px;
    z-index: 1;
  }
  .owl-nav{
    > div{
      z-index: 99;
      &.owl-prev{
        margin: 0;
        left: -30px!important;
      }
      &.owl-next{
        margin: 0;
        right: -30px!important;
      }
    }
  }
}

.view-testimonial-v2{
  padding-top: 20px;
  position: relative;
  float: left;
  width: 100%;
  .owl-dots{
    text-align: left;
    position: relative;
    margin-top: 20px;
    float: left;
    width: 100%;
    .owl-dot{
      display: inline-block;
      padding: 0;
      margin: 5px;
      background: none;
      @include size(45px, 45px);
      @include border-radius(0);
      border: 2px solid $border-color;
      @include box-shadow(none);
      text-align: center;
      position: relative;
      z-index: 9;
      &.active{
        border-color: $theme-color;
      }
    }
  }
  .owl-nav{
    display: none;
  }
}

//============== Gallery ======================
.slider-gallery-v1{
    margin-left: -3px!important;
    margin-right: -3px!important;
    .carousel-item{
      float: left;
      padding-right: 3px!important;
    }
    img{
      -ms-transform-style: none!important;
      -webkit-transform-style: none!important;
      -o-transform-style: none!important;
      transform-style: none!important;
      -ms-transform: none!important; 
      -webkit-transform: none!important; 
      transform: none!important; 
    }
    .gallery-large{
      background: $white;
      img{
        width: 100%;
        height: auto;
      }
    }
  div{
     > .gallery-small{
        width: 50%!important;
        background: transparent!important;
        float: left;
        .gallery-small-item{
          background: $white;
          width: 100%!important;
          height: auto!important;
          float: left;
          clear: both;
          padding-bottom: 3px;
          margin: 0;
          &:last-child{
            padding-bottom: 0;
          }
          img{
            width: 100%;
            height: auto;
          }
      }
    }
  }
}

.small-list{
  .item-list ul > li{
    border-bottom: 1px solid $border-color;
    margin-bottom: 15px!important;
    padding-bottom: 15px;
    a{
      font-size: 12px;
      font-family: $font-second;
      text-transform: uppercase;
      color: $black;
      font-weight: 700;
      &:hover{
        color: $theme-color;
      }
    }
    &:last-child{
      border: none;
      margin-bottom: 0!important;
      padding-bottom: 0;
    }
  }
}


.tags-list{
  .item-list > ul{
    > li{
      margin-bottom: 10px;
      display: inline-block;
      float: left;
      margin-right: 20px;
      a{
        font-weight: 400;
        color: #666666;
        font-family: $font-second;
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 1px;
        &:hover{
          color: $theme-color;
        }
      }
    }
  }
}


.team-carousel-v2{
  top: 0;
  position: relative;
  .owl-dots{
    position: absolute;
    top: -15px;
    left: 43%;
    display: inline-block;
    width: auto;
    z-index: 9;
    @media(max-width: $screen-sm-max){
      display: none;
    }
    > .owl-dot{
      @include size(20px, 5px);
      @include border-radius(0);
      margin-left: 5px;
    }
  }
}